:host {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  padding: 20px;
  overflow: auto;
}

.container {
  border-radius: 12px;
  background: linear-gradient(145deg, #2c3e50, #34495e);
  box-shadow:  5px 5px 15px #1f2c38, -5px -5px 15px #41586f;
  padding: 20px;
  width: 500px;
}

.container form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container form div {
  flex: 1;
}

.container form label {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
}

.container form input {
  border: 1px solid #ffffffbd;
  border-radius: 3px;
  outline: none;
  padding: 6px;
  font-size: 0.8rem;
  width: 100%;
}

.container button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3498db;
  padding: 8px 16px;
  font-weight: 700;
  width: 100%;
  color: #fff;
}

.container button:hover {
  background-color: #2980b9;
}
.button2{
border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f40a0a !important;
  padding: 8px 16px;
  font-weight: 700;
  width: 100%;
  color: #fff;
}
.button2:hover {
  background-color: #f40a0a!important;
opacity: 0.9;
}
table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
}

table th {
  color: #fff;
  font-size: 0.8rem;
  background-color: #2c3e50;
  border-bottom: 2px solid #34495e;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

span {
  text-decoration: underline;
  cursor: pointer;
  color: #e74c3c;
}
